<div class="">

    <div class=" Resiter">

        <div class="cover">
            <img src="coverAuth.png" alt="paste Image">

        </div>



        <div class="Data">

            <div class="mt-4 Sign">
                <h3 class="my-3">Sign Up</h3>
                <p class="text-body-tertiary ">Already have an account? <a href="" class="route">Sign in</a></p>
            </div>


            <div class="mb-3">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>


            <div class="mb-3">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>



        </div>
    </div>

</div>