
<div class="services d-flex align-content-center justify-content-between ">
    <div class="servicesCard p-4">
        <i class="fa fa-car fa-3x my-3" aria-hidden="true"></i>

        <h4>Free Shipping</h4>
        <p>Order above $200</p>


    </div>


    <div class="servicesCard p-4">
        <i class="fa fa-car fa-3x my-3" aria-hidden="true"></i>

        <h4>Free Shipping</h4>
        <p>Order above $200</p>


    </div>


    <div class="servicesCard p-4">
        <i class="fa fa-car fa-3x my-3" aria-hidden="true"></i>

        <h4>Free Shipping</h4>
        <p>Order above $200</p>


    </div>



    <div class="servicesCard p-4">
        <i class="fa fa-car fa-3x my-3" aria-hidden="true"></i>

        <h4>Free Shipping</h4>
        <p>Order above $200</p>


    </div>
</div>
