<div class="p-2">
    <app-banner></app-banner>

    <div class="infoBetter mt-5 d-flex align-items-center justify-content-between  flex-wrap">

        <h2 class="fw-bolder h1">
            Simply Unique/ <br /> Simply Better
        </h2>

        <p><span class="fw-bolder h4">3legant</span> is a gift & decorations store based in HCMC, Vietnam. Est since
            2019. </p>


    </div>


    <app-bestproducts [products]="products" [imgDomain]="imgDomain" [isloading]="isloading"></app-bestproducts>









    <app-serviehome></app-serviehome>
     <app-hundred></app-hundred>
    <img src="contact.png" alt="" class="w-100 d-block">


     



</div>