<div class="hundreds d-flex align-content-center mt-5 gap-5   ">

    <img src="./Placeholder.png" alt="" height="500px">
    <div class="hundredsinfo d-flex align-content-center  flex-column justify-content-between h-50">

        <p class="text-primary">SALE UP TO 35% OFF</p>
        <h1 class="fs-1 fw-bolder my-4">HUNDREDS of <br>
            New lower prices!</h1>
            <p class="fs-5 text-muted">It’s more affordable than ever to give every room in your home a stylish makeover</p>
    </div>


</div>
