<div class=" Resiter">

    <div class="cover">
        <img src="coverAuth.png" alt="paste Image">

    </div>
    <div class="Data">

        <div class="mt-4 Sign">
            <h3 class="my-3">Forget Password</h3>
            <p class="text-body-tertiary ">Already have an account? <a routerLink="/signIn" class="route">Sign in</a></p>
        </div>

           @if(!sendMailFlag){

            <form (ngSubmit)="sendMail(sendMailForm) "  [formGroup]="sendMailForm">
    
                <div class="mb-3">
                    <input type="text" class="inputControl"  name ="email" id="email" type="email" formControlName="email"   placeholder="Enter Your  email">
                    <div *ngIf="sendMailForm.get('email')?.errors && sendMailForm.get('email')?.touched" class="text-danger mt-1">
                        <span *ngIf="sendMailForm.get('email')?.errors?.['required']" class="m-0"> Email is required</span>
                        <span *ngIf="sendMailForm.get('email')?.errors?.['email']" class="m-0">Invalid email address</span>
                    </div>
                </div>
    
          
                <!--  -->
    
                <button class="btnSign btn btn-dark" [disabled]="!sendMailForm.valid || isloading" type="submit">
                    <span *ngIf="!isloading"> Send </span>
                    <span *ngIf="isloading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    <span *ngIf="isloading"> Send Load...</span>
                </button>
    
            </form>
    

           }

           @if(sendMailFlag && !verifyCodeFlag){

            <form (ngSubmit)="verifyCode(verifyCodeForm) "  [formGroup]="verifyCodeForm">
    
                <div class="mb-3">
                    <input type="text" class="inputControl"  name ="resetCode" id="resetCode" type="text" formControlName="resetCode"   placeholder="Enter Your Rest Code">
                    <div *ngIf="verifyCodeForm.get('resetCode')?.errors && verifyCodeForm.get('resetCode')?.touched" class="text-danger mt-1">
                        <span *ngIf="verifyCodeForm.get('resetCode')?.errors?.['required']" class="m-0"> Email is required</span>
                        <span *ngIf="verifyCodeForm.get('resetCode')?.errors?.['maxlength']" class="m-0">Invalid email address</span>
                    </div>
                </div>
    
          
                <!--  -->
    
                <button class="btnSign btn btn-dark" [disabled]="!sendMailForm.valid || isloading" type="submit">
                    <span *ngIf="!isloading"> Send Code </span>
                    <span *ngIf="isloading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    <span *ngIf="isloading"> Send Code Load...</span>
                </button>
    
            </form>
    

           }
          

           @if(verifyCodeFlag){



            <form (ngSubmit)="resetPassword(resetPasswordForm) "  [formGroup]="resetPasswordForm">
    
                <div class="mb-3">
                    <input type="text" class="inputControl"  name ="password" id="password" type="password" formControlName="password"   placeholder="Enter Your Password">
                    <div *ngIf="verifyCodeForm.get('password')?.errors && verifyCodeForm.get('password')?.touched" class="text-danger mt-1">
                        <span *ngIf="verifyCodeForm.get('password')?.errors?.['required']" class="m-0"> password is required</span>
                        <span *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']||resetPasswordForm.get('password')?.errors?.['maxlength']" class="m-0">password length from 6,20</span>
                        
                    </div>
                </div>

                <div class="mb-3">
                    <input type="text" class="inputControl"  name ="confirmPassword" id="password" type="password" formControlName="confirmPassword"   placeholder="Enter Your  confirmPassword">
                    <div *ngIf="verifyCodeForm.get('confirmPassword')?.errors && verifyCodeForm.get('confirmPassword')?.touched" class="text-danger mt-1">
                        <span *ngIf="verifyCodeForm.get('confirmPassword')?.errors?.['required']" class="m-0"> password is required</span>
                        <span *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['minlength']||resetPasswordForm.get('password')?.errors?.['maxlength']" class="m-0">password length from 6,20</span>
                        
                    </div>
                </div>
    
          
                <!--  -->
    
                <button class="btnSign btn btn-dark" [disabled]="!sendMailForm.valid || isloading" type="submit">
                    <span *ngIf="!isloading"> Reset Password Code </span>
                    <span *ngIf="isloading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    <span *ngIf="isloading"> Reset  Load...</span>
                </button>
    
            </form>
    

           }
           
     
    </div>
</div>